#parent{
    border: 1px solid red;
    width: 100%;
    height: 115px;
    display: flex;
    flex-direction: column;
}
#parent>div{
    border: 1px solid red;
}
#parent1{
    height: 65%;
    display: flex;
    flex-direction: row;
}
#parent2{
    height: 35%;
    display: flex;
    flex-direction: row;
}